<!DOCTYPE html>

<html>
<head>
    <title>历史数据API</title>
</head>
<body style="font-family: 黑体;">
<div>
    <h1 style="text-align: center;">历史数据 Api</h1>

    <div>
        <table width="100%" title="可用API列表" border="1px" style = "border: solid; border-width: 1px; text-align : center">
            <th>
                API名称
            </th>
            <th>
                API地址
            </th>
            <th>
                API详细描述
            </th>
            <tr>
                <td>
                    根据学生生源地列出招生的学校
                </td>
                <td>
                    <a href = "http://localhost:4888/api/HistoryData/UniversityList&lp=河南">获得学校列表(测试参数为河南)</a>
                </td>
                <td>
                    调用为&nbsp;http://(IP地址):(端口)/api/HistoryData/UniversityList&lp=(参数 ：生源地)
                </td>
            </tr>
            <tr>
                <tr>
                    <td>
                        根据学生生源地列出招生的专业
                    </td>
                    <td>
                        <a href = "http://localhost:4888/api/HistoryData/ProfessionList&lp=河南">获得专业列表(测试参数为河南)</a>
                    </td>
                    <td>
                        调用为&nbsp;http://(IP地址):(端口号)/api/HistoryData/ProfessionList&lp=(参数：生源地)
                    </td>
                </tr>
            </tr>
        </table>
    </div>

</div>
</body>
</html>