<!DOCTYPE html>

<html>
<head>
    <title>专业数据API</title>
</head>
<body style="font-family: 黑体;">
<div>
    <h1 style="text-align: center;">专业数据 Api</h1>

    <div>
        <table width="100%" title="可用API列表" border="1px" style = "border: solid; border-width: 1px; text-align : center">
            <th>
                API名称
            </th>
            <th>
                API地址
            </th>
            <th>
                API详细描述
            </th>
            <tr>
                <td>
                    查询专业
                </td>
                <td>
                    <a href = "http://localhost:4888/api/Profession/GetProfession&proName=软件工程">获得专业信息(测试参数为软件工程)</a>
                </td>
                <td>
                    调用为&nbsp;http://(IP地址):(端口)/api/Profession/GetProfession&proName=(参数 ：专业名称)
                </td>
            </tr>
        </table>
    </div>

</div>
</body>
</html>