<html>
<head>
    <title>API Home</title>
</head>
<body>
<div style="font-family: 黑体;">
    <h2>Welcome My NceeWxAPI Home Page</h2>
    <p>
        It' my api list
    </p>
    <ul style="list-style: circle;">
        <li>
            <a href="#">
                HistoryData
            </a>
        </li>
        <li>
            <a href="#">
                Profession
            </a>
        </li>
        <li>
            <a href="#">
                University
            </a>
        </li>
    </ul>
</div>
</body>
</html>