<html>
<head>
    <title>API 主页</title>
</head>
<body style="font-family: 黑体;">
<div style="margin-left: 10%">
    <h2 style="text-align: center;">万向高考Web API主页</h2>
    <h3> API列表 </h3>
    <ul style="list-style: none;">
        <li>
            <a href="api/HistoryData">
                HistoryData
            </a>
        </li>
        <li>
            <a href="api/Profession">
                Profession
            </a>
        </li>
        <li>
            <a href="api/University">
                University
            </a>
        </li>
    </ul>
</div>
</body>
</html>