<!DOCTYPE html>

<html>
<head>
    <title>院校数据API</title>
</head>
<body style="font-family: 黑体;">
<div>
    <h1 style="text-align: center;">院校数据 Api</h1>

    <div>
        <table width="100%" title="可用API列表" border="1px" style = "border: solid; border-width: 1px; text-align : center">
            <th>
                API名称
            </th>
            <th>
                API测试
            </th>
            <th>
                API详细描述
            </th>
            <tr>
                <td>
                    查询院校
                </td>
                <td>
                    <a href = "http://localhost:4888/api/University/GetUniversity&uniName=西安邮电大学">获得学校信息(测试参数为西安邮电大学)</a>
                </td>
                <td>
                    调用为&nbsp;http://(IP地址):(端口)/api/University/GetUniversity&uniName=(参数 ：院校名称)
                </td>
            </tr>
        </table>
    </div>

</div>
</body>
</html>